.crossed-line {
  text-decoration: line-through;
}

.input-handler{
  padding: 10px 0px;
}

.input-handler i{
  font-size: 35px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.navbar-dark {
  background-color: #512DA8;
}
